<h1>Tech U</h1>
<p>Tech U is the up-and-coming place to get the lastest courses in computer science!</p>

<p>Check out courses for a listing of courses being offered.</p>

<p>Student may login under account to see their enrollments or modify their profile.</p>